<div>
    <h1>
        Geophysics
    </h1>
    <p>
        Essentially, as the word suggests, geophysics is the application of method of physics to the study of the Earth. The rocks
        does not differ only by their macroscopic or microscopic properties studied field geologists or petrologists. They
        also differ by their chemical and physical properties. Hence as the rocks differ according to their origin, structure,
        texture, etc. they also differ by their density, magnetisation, resistivity, etc. The bad news is that the physical
        properties do not always clearly correlates with geological classifications and do not necessarily easily translates
        into the geological terms.
    </p>
</div>
<div>
    <h1>
        Gravimetry
    </h1>
    <p>
        The gravimetry detects tiny differences in the gravitational force. Since, according to the Newton’s law, the gravitational
        force depends on masses of the bodies, it allows us to differentiate underground bodies and structures if their densities
        differ.
    </p>
    <h3>
        Gravity field of the Earth and data reduction
    </h3>
    <p>
        Because the Earth is not a perfect homogeneous sphere, the gravitational acceleration is not constant over the whole Earth’s
        surface. Its magnitude depends on five following factors: latitude, elevation, topography of the surrounding terrain,
        earth tides and density variations in the subsurface. Within the geophysical prospection, we are interested in the
        last one, which is usually much smaller then the latitude and altitude changes. The removal of unwanted components
        is often referred to as reduction.
    </p>
    <p>
       
</div>
<div>
    <h1>
        Gravity meters
    </h1>
    <p>
        Basically, there are two main gravity types – the absolute and relative gravity meters. In geophysical prospection solely
        the former are used. They measure relative gravity – the gravity changes, not the value of gravity itself. If we
        want to measure the absolute value of gravity we must use some point with already known gravity value and start our
        measurements there. Then, by adding the measured differences, we know the absolute values of gravity on all our points.
        However, this is needed only in large scale mapping, where we want to add our data to already existing grid.
    </p>
</div>

