<div class="contactD">
<form action="/contact/email" class="contact" method="GET" >
    <p class="mainc">To contact us please fill this form : </p>
    <input type="text" id="name" name="name" placeholder="First Name" required>
    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
    <input type="text" id="country" name="country" placeholder="Country" required>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="text" id="institution" name="institution" placeholder="Institution">
    <textarea id="message" name="message" placeholder="Message"></textarea>
    <input type="submit" id="submit_contact" name="submit_contact" class="Submit" >
</form>
</div>