<form action="/contact/email" class="contact" method="GET" >
    <p class="mainc">to contact us please fill this form : </p>
    <input type="text" id="name" name="name" placeholder="First Name" required>
    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
    <input type="text" id="country" name="country" placeholder="Country" required>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="text" id="institution" name="institution" placeholder="Institution">
    <textarea id="message" name="message" placeholder="Message"></textarea>
    <p class="secondc"> We know that you can help us, so if you have some information to share with us in order to improve this web site please
        attach it </p>
    <input type="file" id="file_contact">
    <input type="submit" id="submit_contact" name="submit_contact" class="Submit" >
</form>