<div class="homeD">
<h1>Your message has been sent</h1>
<p class="email">Thank you very much for your suggestions, We hope that gravimetric field has helped you</p>
<img src="/images/email.jpg" class="emailI">
</div>