<form>
    <select id="country">
        <option id="1"> country 1 </option>
        <option id="2">Country 2</option>
        <option id="3">country 3</option>
    </select>
</form>
<form>
    <select id="city">
        <option id="1"> city 1 </option>
        <option id="2">city 2</option>
        <option id="3">city 3</option>
    </select>
</form>
<form>
    <select id="base">
        <option id="1"> base 1 </option>
        <option id="2">base 2</option>
        <option id="3">base 3</option>
    </select>
</form>

<div>
    {{{baseInformation}}} aqui va la respuesta Lat LOG NOMBRE PDF
</div>