<select id="Scountry " name="countryoption">
    <option id="1"> Select a country </option>
    <option id="2"> Canada </option>
    <option id="3"> Venezuela</option>
</select>
<select id="selectCity">
    <option id="1"> Select a province/state </option>
</select>
<select id="selectBases">
    <option id="1"> Select a base </option>
</select>
<ul id="res_valuesG">
    {{!-- Response from data base --}}
</ul>

{{!-- <a href="/images/Cariaco.pdf" download="nombre">
  <img src="/images/pdf.jpg" width="104" height="142">
</a> --}}

<script src="/javascripts/gravimetric_values.js"></script>