<div class="homeD">
<h1>Welcome</h1>
<br>
<p>
    Gravimetric Field offers you tools and information necessary to guarantee Quality Control of Gravimetric data during the acquisition and procesing time. Anywhere and anytime. 
</p>
<h3 class="titleVideoHome"> Videos of interest</h3>
<div class="divVideoHome"> 
    <div class="video">
    <video src="/videos/Gravity Surveying.mp4" poster="assest/videos/Gravity Surveying.mp4"  controls preload="none"></video>
    </div>
     <div class="video">
     <video src="/videos/videoplayback.mp4"  poster="assest/videos/videoplayback.mp4" controls preload="none"></video>  
    </div>
</div>
</div>