<label for="continent">Continent : </label>
<select id="continent">
    <option>Select a continent</option>
    <option> Africa </option>
    <option>  Asia</option>
    <option> Central America </option>
    <option> Europe</option>
    <option> North America</option>
    <option> Oceania</option>
    <option> South America</option>
</select>
<div id="ulList"  >
    {{!-- Response from data base --}}
</div>

<script src="/javascripts/official_websites.js"></script> 