<select id="continent">
    <option>Select a continent</option>
    <option> North America </option>
    <option> South America</option>
    <option> Central America </option>
    <option> Europe</option>
    <option> Asia</option>
    <option> Africa</option>
    <option> Oceania</option>
</select>